*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#f5f7fa;
color:#333;
}

header{
background:#166534;
position:fixed;
width:100%;
top:0;
z-index:1000;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
}

.logo{
color:white;
}

.navigation{
display:flex;
gap:20px;
list-style:none;
}

.navigation a{
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.navigation a:hover{
color:gold;
}

.hero{
text-align:center;
padding:120px 20px 60px;
background:linear-gradient(135deg,#166534,#22c55e);
color:white;
}

.contact-container{
display:flex;
gap:40px;
padding:50px;
justify-content:center;
align-items:flex-start;
flex-wrap:wrap;
}

.contact-info{
width:400px;
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-info img{
width:100%;
height:250px;
object-fit:cover;
border-radius:15px;
margin-bottom:20px;
}

.contact-info h2{
color:#166534;
margin-bottom:10px;
}

.info{
margin-top:15px;
}

.social-links{
margin-top:20px;
}

.social-links a{
display:inline-block;
margin-right:10px;
text-decoration:none;
color:#166534;
font-weight:bold;
}

.contact-form{
width:500px;
background:white;
padding:25px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-form h2{
color:#166534;
margin-bottom:20px;
}

label{
display:block;
margin-top:15px;
margin-bottom:5px;
font-weight:bold;
}

input,
textarea{
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:10px;
outline:none;
}

input:focus,
textarea:focus{
border-color:#166534;
box-shadow:0 0 5px rgba(22,101,52,0.4);
}

button{
margin-top:20px;
padding:12px 25px;
background:#2563eb;
color:white;
border:none;
border-radius:25px;
cursor:pointer;
transition:0.3s;
}

button:hover

footer{
background:#166534;
color:white;
text-align:center;
padding:20px;
}

.footer-links{
margin-top:10px;
color: white ;
background-color: #166534;
}

.footer-links a{
color:white;
text-decoration:none;
margin:0 10px;
}

@media(max-width:768px){


.navbar{
    flex-direction:column;
}

.navigation{
    flex-wrap:wrap;
    justify-content:center;
}

.contact-container{
    padding:20px;
}

.contact-info,
.contact-form{
    width:100%;
    max-width:500px;
}

}
.logo-container{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-img{
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid white;
    box-shadow:0 5px 20px rgba(12, 12, 230, 0.3);
}

.logo{
    color:white;
    margin:0;
}